<mat-card>
    <div [ngClass]="!(isHandset$ | async) ? 'form-padding' : ''">
        <mat-card-content>
            <div fxLayout="column" [fxLayoutGap]="(isHandset$ | async) ? '10px' : '20px'">
                <div fxLayout="row">
                    <div fxFlex="0 0 180px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Department Name </mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="userId" matInput [(ngModel)]="departmentInfo.departmentTitle">

                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="0 0 180px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Description</mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <input [ngClass]="!(isHandset$ | async) ? 'input-small' : 'input-large'" id="UserPassword" matInput type="text" [(ngModel)]="departmentInfo.descriptions">

                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 0 180px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label></mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label></mat-label>
                    </div>
                    <div fxFlex="90 1 auto">

                        <button id="loginBtn" mat-raised-button class="list-button" *ngIf="!departmentInfo.departmentId" (click)="addDepartment()">ADD</button>
                        <button id="loginBtn" mat-raised-button class="list-button" *ngIf="departmentInfo.departmentId" (click)="addDepartment()">Update</button>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">

                    </div>
                </div>

            </div>
        </mat-card-content>
    </div>
</mat-card>

<mat-card *ngFor="let item of departmentList" class="common-list-item" [ngStyle]="{'background-color': selectedItem==item ? 'rgb(224, 224, 241)' : ''}" (click)="selectListItem(item)" style="margin: 5px;">
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="center center">

                <div fxLayout="row" fxFlex="1 1 70%">
                    <div fxFlex="0 0 180px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Department Name</mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{item.departmentTitle}}</mat-label>
                    </div>
                </div>

                <div fxLayout="row" fxFlex="1 1 auto">
                    <button mat-raised-button class="list-button" (click)="editDepartmnet(item)">
                        Edit
                    </button>
                </div>

            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 5px;">

                <div fxLayout="row" fxFlex="1 1 100%">
                    <div fxFlex="0 0 180px" fxLayout="column" fxLayoutAlign="center end">
                        <mat-label>Description</mat-label>
                    </div>
                    <div fxFlex="0 0 40px" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>:</mat-label>
                    </div>
                    <div fxFlex="90 1 auto">
                        <mat-label>{{item.descriptions}}</mat-label>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>