<mat-sidenav-container class="sidenav-container component-container">

    <mat-sidenav #drawer class="sidenav secondary-menu" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" style="background-color: rgb(24, 24, 190); color: white;">
        <mat-toolbar style="background-color: rgb(14, 14, 167); color: white;">SR Hall</mat-toolbar>

        <mat-nav-list>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/home">Home</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/infoMenu">Info Menu</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/provost">Provost</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/houseTutor">House Tutor</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/hallBody">Hall Body </a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/student">Students</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/adminMenu">Admin</a>

        </mat-nav-list>

        <!-- <mat-nav-list>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/home">Home</a>
            <a mat-list-item style="color: rgb(255, 255, 255);" routerLink="/infoMenu">Info Menu</a>
            <a mat-list-item *ngIf="isLogedIn" style="color: rgb(255, 255, 255);" routerLink="/provost">Provost</a>
            <a mat-list-item *ngIf="isLogedIn" style="color: rgb(255, 255, 255);" routerLink="/houseTutor">House Tutor</a>
            <a mat-list-item *ngIf="isLogedIn" style="color: rgb(255, 255, 255);" routerLink="/hallBody">Hall Body </a>
            <a mat-list-item *ngIf="isLogedIn" style="color: rgb(255, 255, 255);" routerLink="/student">Students</a>
            <a mat-list-item *ngIf="isLogedIn" style="color: rgb(255, 255, 255);" routerLink="/adminMenu">Admin</a>

        </mat-nav-list> -->
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <div fxLayout="row">
                <mat-toolbar style="background-color: navy; color: white;">

                    <mat-label fxLayoutAlign="center center" fxFlex="1 1 80%">
                        Hall Management System
                    </mat-label>
                    <div fxLayoutAlign="center center" style="margin-right: 40px;">
                        <button class="simple-button" mat-raised-button [routerLink]="['/register']" id="visitorLogin">Register</button>
                    </div>
                    <div fxLayoutAlign="end center" style="margin-right: 40px;">
                        <button *ngIf="!isLogedIn" class="simple-button" mat-raised-button [routerLink]="['/login']" id="visitorLogin">Login</button>
                    </div>
                    <div fxLayoutAlign="end center" style="margin-right: 40px;">
                        <button *ngIf="isLogedIn" class="simple-button" mat-raised-button (click)="logOut()">Logout</button>
                    </div>

                </mat-toolbar>
            </div>
            <div>
                <div style="width: 100%; margin-bottom: 51px;" fxLayout="row" fxLayoutAlign="center center">
                    <div style="width: 100%">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>